@import 'variables.scss';
.aboutme {
    width: 100%;
    h2 {
        font-size: calc(2rem + 10px);
        color: rgb(148, 147, 147);
    }

    .aboutme_wrapper {
        max-width: 700px;
    }

    p {
        font-size: calc(1rem + 18px);
        font-weight: 500;

        span {
            color: $primary;
            font-weight: 400;
        }
    }
}
