@import 'variables';
.accents {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;

    @media (max-width: 1110px) {
        flex-direction: column;
        height: fit-content;
    }

    .accent {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        button {
            align-self: flex-end;
            margin-left: auto;
            border: none;
            font-size: calc(1rem + 2px);
            font-weight: 500;
            text-transform: capitalize;
            letter-spacing: 3px;
            border-radius: 10px;
            transition: all 0.2s ease-in-out;
            font-size: calc(0.8rem + 4px);
            background-color: hsla(223, 17%, 84%, 0.6);
            color: #1b1b1b;
            padding: 0.5em 2rem;
            margin-top: 20px;

            &:hover {
                cursor: pointer;
                background-color: $primary;
                padding: 10px 40px;
            }
        }

        .accent_wrapper {
            // Styles for .accent_wrapper
            font-size: calc(1rem + 4px);
            h2 {
                margin-bottom: 20px;
            }
        

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}
