.hero {
    display: flex;
    gap: 60px;
    width: 100%;
    min-height: 100%;
    align-items: center;

    img {
        width: 250px;
        height: 300px;
        border-radius: 50px;
    }

    .hero_copy {
        margin-top: 20px;
        font-size: calc(2rem + 8px);
        font-weight: 600;
        letter-spacing: 2px;
        max-width: 700px;

        span {
            color: rgb(148, 147, 147);
        }
    }

    @media screen and (max-width: 1300px) {
        flex-direction: column;
        padding-right: 0;
        img {
            width: 200px;
            height: 250px;
        }
    }
}
